# Personal folders
workspace/
environments/
notes/

# .config files
.config/.wrangler/
.config/simple-update-notifier/
.config/nextjs-nodejs/
.config/turborepo/
.config/configstore/
.config/nvim/folds
.config/nvim/spell
.config/github-copilot/

# Default config folders
.aws
.bun/
.azure
.cache/
.codeium/
.docker/
.dotnet/
.gitconfig
.landscape/
.lesshst
last
.local/
.npm/
.nvm/
.ssh/
.tmux/
.vscode-remote-containers/
.vscode-server/
.vscode-server-insiders/
.bash_logout
.bashrc
.gitignore
.motd_shown
.node_repl_history
.viminfo
.wget-hsts

# History
.bash_history
.config/nushell/history.txt

# For Neovim
.env
lazy-lock.json
lazyvim.json
.luarc.json
